@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
}

body {
    background-color: skyblue;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

input {
    border: 0 none;
    outline-style: none;
}